body{
    overflow-x: hidden;
    background-color: white;
}
nav{
    color: white;
font-size: 12px;
display: flex;
background-color: #333333;
padding-bottom: 12px; 
padding-top: 12px; 
height: auto;
position: fixed; 
width: 100%;
}
nav a{
    text-decoration: none;
     color: white;
     padding-left: 35px;
     opacity: 0.75;
} 
nav a:hover{
  color: brown;
}
#cont{
    font-size:14px ;
    padding-top: 10px;
    height: auto;
    padding-bottom: 0.5px;
    color: black;
    opacity: 0.75;
}
#cont a{
    text-decoration: none;
    display: inline-flexbox;
}
.s{
    background-color: #FBFBFD;
    padding-bottom: 10px;
}
.s a{
    text-decoration: none;
    font-size: 20px;
    line-height: 50px;
    font-weight: 500;
}
.s a:hover{
    text-decoration: underline;
}

.ss a{
    text-decoration: none;
    font-size: 20px;
    line-height: 50px;
    font-weight: 500;
}
.ss a:hover{
    text-decoration: underline;
}
.pk{
    background-image: url("../images/pk\ bg.jpg");
  height: 100%;
  opacity: 0.85;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.cart{
    background-image: url("../images/cartbg.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
.korean{
    background-image: url("../images/kor.jpg");
  height: 100%;
  opacity: 0.65;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.italian{
    background-image: url("../images/ragu\ pasta.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.Japanese{
    background-image: url("../images/jpbg.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.sec-three{
    background-image: url("../images/the\ tragedy.png");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#div-pk{
  background-image: url("../images/crtbg.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 230px;
}
#div-f{
    background-image: url(../images/japanese.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 230px;
    margin-left: 15px;
    margin-right: 20px;
}
#div-th{
    background-image: url(../images/desi.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 230px;
}
#div-t{
    background-image: url(../images/korean.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 230px;
}
#div-two{
    background-image: url("../images/crtbg.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 230px;
    margin-left: 15px;
    margin-right: 20px;
}
#div-three{
    background-image: url("../images/orange.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 60px;
    padding-bottom: 320px;
    margin-left: 20px;
}

  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown a:hover {background-color: #ddd;}
  
  .show {display: block;}


